<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html> -->


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style.css">
    <title>Home</title>
</head>
<body class="calendar-body">
    <section class="container">
        <section class="months">
            <a id="back-month" class="fa-solid fa-angle-left"></a>
            <div class="month"></div>
            <a id="forward-month" class="fa-solid fa-angle-right"></a>
        </section>

        <ul class="weekdays">
            <li>Sunday</li>
            <li>Monday</li>
            <li>Tuesday</li>
            <li>Wednesday</li>
            <li>Thursday</li>
            <li>Friday</li>
            <li>Saturday</li>
        </ul>

        <section class="calendar"></section>
        <a href="/logout">Logout</a>
    </section>
    
    <form id="newEventModal" action="/todos/createTodo" method='POST'>
        <h2>Journal Entry</h2>

        <h3>How was your day?</h3>
        <input type="radio" name="mood" value="good">
        <label for="good">Good</label>
        <input type="radio" name="mood" value="meh">
        <label for="meh">Meh</label>
        <input type="radio" name="mood" value="bad">
        <label for="bad">Bad</label><br>
        <h3>What happened today?</h3>
        <textarea id="w3review" name="w3review" rows="4" cols="50"></textarea><br>
        <button>Add</button>
        <button>Cancel</button>
    </form>

    <div id="modalBackDrop"></div>

    <footer>
         <a class="footer-links" href="calendar.html">Home</a> 
        <a class="footer-links" href="calendar.html"><img class="animo" src="../images/animo-butterfly1.png"></a>
    </footer>

    <script src="js/main.js"></script>
</body>
</html> -->